* {
    box-sizing: border-box;
}

.title_block {
    text-align: center;
}

#display_window {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:first baseline;
    /*background-image: ;*/
}

.post_display {
    background-color: #f7e2c1;
    border-radius: 25px;
    padding: 20px;
    padding-bottom: 30px;
    margin: 10px;
    width: 350px;
    position: relative;
}

.fake_image {
    background-color: aqua;
    width: 90%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.post_image {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.post_head {
    width:inherit;
    height: 40px;
    margin-bottom: 10px; 
    display:flex;
}

.post_head > h3 {
    font-size: 27px;
    vertical-align: center;
    margin:0;
}

.post_head > .fake_image {
    background-color: darkslategray;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 0;
    margin-top: 0;
    float:left;
    flex-shrink:0;
}

.profile_pic {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 0;
    margin-top: 0;
    float:left;
    flex-shrink:0;
}

.post_context > p {
    margin: 0;
}

.post_context > a {
    float: right;
    margin-right: 10px;
}

.post_text {
    min-height: 75px;
    font-family:'Courier New', Courier, monospace;
}

.roar_section {
    text-align: right;
    margin-right: 10px;
    margin-bottom: 10px;
}

#comment_form {
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
}

.comment_space {
    min-height: 20px;
}

.comment_display {
    display:flex;
}

.comment_text {
    width:75%;
}

.page_div {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items:first baseline;
}

.page {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
}

.page p {
    font-weight: bold;
}

#delete_comment {
    margin-left: 15px;
}

#comment_button, .comment_button_image {
    height: 20px;
    width: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

#roar_button, .roar_button_image {
    height: 25px;
    background: none;
    border: none;
    cursor: pointer;
}