{% extends 'inqpal/base.html' %}
{% load staticfiles %}

{% block body_block %}
<div class="mainDiv">
    <img src="{{ user.account.picture.url }}" alt="">
    <div>
        <h2>{{ account.user.username }}</h2>
        <p>Favorite Dinosaur: {{ account.fav_dino }}</p>
        <p>Followers: {{ friends }}</p>
        <p>Following: {{ watchers }}</p>
    </div>
</div>
<div id="actionButtons">
    <form method="POST" action="{% url 'inqpal:logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    <button onclick = "window.location.href = '{% url 'inqpal:edit_profile' %}'">Edit Profile</button>
    <button onclick = "window.location.href = '{% url 'inqpal:add_pal' %}'">Add Pal</button>
</div>
<div id="posts">
</div>
{% endblock %}