{% load staticfiles %}
<!DOCTYPE html>

<html>
    <title>
        InqPal
    </title>
    <head>
            <link rel = "stylesheet" href="{% static 'css/base.css' %}" />
    </head>
    <div class = 'header'>
        <div class = 'header_name' >
            <h1>InqPal</h1>
            <p>an inquisition of paleontologists</p>
        </div>

        <div class = 'header_links'>
            <a href="{% url 'inqpal:trending' %}">Trending</a>
            {% if user.is_authenticated %}
            <a href="{% url 'inqpal:palsposts' %}">Pals</a>
            <a href="{% url 'inqpal:my_account' %}">Account</a>
            {% else %}
            <a href="{% url 'inqpal:login' %}">Login</a>
            <a href="{% url 'inqpal:register' %}">Sign Up</a>
            {% endif %}
            <a href="{% url 'inqpal:categories' %}">Categories</a>
        </div>
    </div>

    <body class = 'body'>
        <div>
            {% block body_block %}
            Error no page content
            {% endblock %}
        </div>
    </body>
</html>