{% extends 'inqpal/base.html'%}
{% load staticfiles %}

{% block head_block %}
    <link rel="stylesheet" href="{% static 'css/display_posts.css' %}" />
{% endblock %}

{% block body_block %}
    <div>
        <h1>{{type}}</h1>
    </div>

    <div id="display_window">
        {% if posts %}
            {% for post in posts %}
                <div class="post_display">
                    <div class="post_head">
                        <div class="fake_image"></div>
                        <h3>{{post.post.creator}}</h3>
                    </div>
                    <div class="post_context">
                        <a href="{% url 'inqpal:categories' %}{{post.post.category}}">#{{post.post.category}}</a>
                        <p><time>{{post.post.date}}</time></p>
                    </div>
                    <div class="fake_image"></div>
                    {% if post.post.image %}
                        <img src="{{post.post.image}}">
                    {% endif %}
                    <p>{{post.post.text}}</p>
                    
                    <div class="roar_section">
                        {% if logged_in %}
                            {% if post.roared %}
                                <p>you roared! {{post.roars}}</p>
                            {% else %}
                                <form id = 'roar_form' method="POST" action="{{this_url}}">
                                    {% csrf_token %}
                                    <input type="hidden" name='post' id='what_post' value={{post.post.id}}>
                                    <input type="submit" name="submit" value="roar" required="required"> {{post.roars}}
                                </form>
                            {% endif %}
                        {% else %}
                            <p>roars: {{post.roars}}</p>
                        {% endif %}
                    </div>
                    <hr>
                    {% if post.comments %}
                        <ul>
                            {% for comment in post.comments %}
                                <li><div class="comment_display">
                                    <strong>{{comment.creator}}</strong>
                                    {{comment.text}}
                                </div></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if logged_in %}
                        <form id = 'comment_form' method="POST" action="{{this_url}}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name='post' id='what_post' value={{post.post.id}}>
                            {{ form }}
                            <input type="submit" name = "submit" value = "post" required="required" id = 'comment_button'/>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <strong>Error: No posts to show!</strong>
        {% endif %}
    </div>
{% endblock %}