{% extends 'inqpal/base.html'%}
{% load staticfiles %}

{% block head_block %}
    <link rel = "stylesheet" href="{% static 'css/display_post.css' %}" />
{% endblock %}

{% block body_block %}
    <div>
        <h1>{{type}}</h1>
    </div>

    <div>
        {% if posts %}
            {% for post in posts %}
                <div class="post_display">
                    {% if post.post.image %}
                        <img src="{{post.post.image}}">
                    {% endif %}
                    <ul>
                        <li><strong>{{post.post.creator}}</strong></li>
                        <li>#{{post.post.category}}</li>
                        <li>{{post.post.date}}</li>
                        <li>{{post.post.text}}</li>
                        {% if logged_in %}
                            <li><button>🦖</button> {{post.roars}}</li>
                        {% endif %}
                        {% if post.comments %}
                            <ul>
                                {% for comment in post.comments %}
                                    <li><div class="comment_display">
                                        <strong>{{comment.creator}}</strong>
                                        {{comment.text}}
                                    </div></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% if logged_in %}
                            <form id = 'comment_form' method="POST" action="{{this_url}}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name='post' id='what_post' value="{{post.post}}">
                                <textarea type="text" name='text' id='text_input' rows="2" maxlength="2000" placeholder = "Comment Here" required="required"></textarea>
                                <input type="submit" name = "submit" value = "post" required="required" id = 'comment_button'/>
                            </form>
                        {% endif %}
                </ul>
                </div>
            {% endfor %}
        {% else %}
            <strong>Error: No posts to show!</strong>
        {% endif %}
    </div>
{% endblock %}