{% extends 'inqpal/base.html'%}
{% load staticfiles %}

{% block body_block %}
<h1>Create a Post</h1>
<h2>{{ username }}</h2>
<form id = 'post_form' method="POST" action="{% url 'inqpal:make_post' %}" enctype="multipart/form-data">
    {% csrf_token %}
    
    <input type="file" name = 'image' id = 'picture_input'  accept="image/*" required="required"/>
    <input type="text" name = 'text' id = 'text_input' placeholder = "Enter your description" required="required"/>
    <select name = 'category' id = 'category_input'>
        <option value="theropods">Theropods</option>
        <option value="sauropods">Sauropods</option>
        <option value="ornithischians">ornithischians</option>
        <option value="non-dinosaur_archosaurs">Non-dinosaur Archosaurs</option>
        <option value="other_prehistoric_reptiles">other prehistoric reptiles</option>
        <option value="birds">Birds</option>
    </select>
    <input type="submit" name = "submit" value = "post" required="required"/>
</form>
<img id = 'picture_preview' src = "{% static 'images/noImageSelected.png' %}"/>


<script>var placeholderImage = "{% static 'images/noImageSelected.png' %}"</script>
<script src="{% static 'js/make_post.js' %}"></script>

{% endblock %}