{% extends 'inqpal/base.html'%}
{% load staticfiles %}

{% block head_block %}
<link rel = "stylesheet" href="{% static 'css/make_post.css' %}" />
{% endblock %}

{% block body_block %}
<h1>Create a Post</h1>
<h2>{{ username }}</h2>
<form id = 'post_form' method="POST" action="{% url 'inqpal:make_post' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div id = 'picture'>
        <img id = 'picture_preview' src = "{% static 'images/noImageSelected.png' %}"/>
        <br/>
        <input type="file" name = 'image' id = 'picture_input'  accept="image/*" required="required"/>
    </div>

    <div id = 'right_form'>
        <select name = 'category' id = 'category_input' required="required">
            <option hidden disabled selected value>Select a Category</option>
            <option value="theropods">Theropods</option>
            <option value="sauropods">Sauropods</option>
            <option value="ornithischians">ornithischians</option>
            <option value="non-dinosaur_archosaurs">Non-dinosaur Archosaurs</option>
            <option value="other_prehistoric_reptiles">other prehistoric reptiles</option>
            <option value="birds">Birds</option>
        </select>
        <br/>
        <textarea type="text" name = 'text' id = 'text_input' rows="31" maxlength="2000" placeholder = "Enter your description" required="required"></textarea>

        <div id = 'bottom_form'>
            <a href= "{% url 'inqpal:my_account' %}" id = 'cancel_botton'>cancel</a>
            <input type="submit" name = "submit" value = "post" required="required" id = 'post_button'/>
        </div>
    </div>
    
</form>


<script>var placeholderImage = "{% static 'images/noImageSelected.png' %}"</script>
<script src="{% static 'js/make_post.js' %}"></script>

{% endblock %}