{% extends 'inqpal/base.html'%}
{% load staticfiles %}

{% block body_block %}
    <h1>Sign up for InqPal</h1>
{% if registered %}
<strong>Thank you for signing up!</strong>
<a href="{% url 'inqpal:base' %}">Return to the trending page.</a><br />
{% else %}
<strong>Sign up here</strong><br \>
<form id="user_form" method="post" action="{% url 'inqpal:register' %}" enctype="multipart/form-data">
    {% csrf_token %}

    {{ user_form.as_p }}
    {{ account_form.as_p }}
    <input type="submit" name="submit" value="Sign up" />
</form>
{% endif %}
{% endblock %}